@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
  --color-background-accent-light: var(--background-accent-light);
  --color-background-accent-dark: var(--background-accent-dark);
  --color-foreground: var(--foreground);
  --color-foreground-light: var(--foreground-light);
  --color-destructive: var(--destructive);

  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-geist-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.9709 0.0045 78.3);
  --background-dark: oklch(0.3269 0.035 241.07);
  --background-accent-dark: oklch(0.9119 0.0078 27.23);
  --background-accent-light: oklch(0.8669 0.0442 141.01);
  --foreground: oklch(0.3269 0.035 241.07);
  --foreground-light: oklch(0.9709 0.0045 78.3);
  --destructive: oklch(47.252% 0.16717 26.449);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
